# what port should APPLIED run on locally?
PORT=3030

# either sqlite or turso
DATABASE_PROVIDER=sqlite

# sqlite db file path
DATABASE_PATH=data/applied.db

# host sqlite alternative
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# for your personal workflows
AGENT_API_TOKEN=
